// Light theming
$l-pagebg: #dad3ff;
$l-bg: #fff;
$l-text: #000;

// Blockquotes
$block-bg: #282828;
$block-text: #fff;

// BLM Banner
$blm-bg: #000;
$blm-text: #fff;

// Header highlight theme
$head-l: #bac1ee;
$head-d: #929de2;
