@use 'common' as *;
@use 'colour' as *;

@mixin nav {
  display: flex;
  flex: 0 0 auto;
  text-align: center;

  li,
  a {
    background: none;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: .25em;
    padding: .25em;
  }
}

html,
body {
  background: $l-pagebg;
  color: $l-text;
  @supports (font-variation-settings: normal) { font-family: 'Inter var experimental', sans-serif; }
  font-display: swap;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

.banner {
  align-items: center;
  display: flex;
  font-size: .95em;
  font-weight: $font-bold;
  height: 3em;
  justify-content: center;
  padding: .25em;
  text-align: center;
  text-decoration: none;
  @supports (font-variation-settings: normal) { font-variation-settings: 'wght' $font-bold; }

  @media (max-width: 500px) {
    font-size: .9em;
    padding: .7em;
  }

  // A BLM variant
  &.blm {
    background: $blm-bg;
    color: $blm-text;
  }
}

.app {
  background: $l-bg;
  margin: 1em 4em;
  padding: 1em 3em;

  a {
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(50% - 3px),
      $head-l calc(50% - 3px),
      $head-d 100%
    );
    background-position: 0 0;
    background-size: 100% 200%;
    color: inherit;
    text-decoration: none;
    transition: background-position 250ms;
    &:hover { background-position: 0 100%; }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      background: none;
      color: $l-text;
      text-decoration: none;
      transition: 250ms text-decoration;

      h1 {
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 4px),
          $head-l calc(50% - 4px),
          $head-d 100%
          );
        font-weight: $font-bold;
        @supports (font-variation-settings: normal) { font-variation-settings: 'wght' $font-bold; }
      }
      &:hover { text-decoration: underline; }
    }

    ul { @include nav; }
  }

  footer {
    text-align: center;
    p { margin: .3em; }

    a {
      background: none;
      padding: .25em;
      text-decoration: underline;
    }
  }

  blockquote {
    background: $block-bg;
    border-left: 4px solid $head-l;
    color: $block-text;
    margin-bottom: 1em;
    margin-left: 1vw;
    margin-top: .5em;
    padding: 1vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 1.5vh .5vh .25vh 1vh;
    }
  }

  ul,
  ol {
    li {
      padding: .15em 0;
    }
  }
}

