@use 'common' as *;
@use 'colour' as *;

html,
body {
  background: $l-bg;
  color: $l-text;
  @supports (font-variation-settings: normal) { font-family: 'Inter var experimental', sans-serif; }
  font-display: swap;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

.banner {
  align-items: center;
  display: flex;
  font-size: .95em;
  font-weight: $font-bold;
  height: 3em;
  justify-content: center;
  padding: .25em;
  text-align: center;
  text-decoration: none;
  @supports (font-variation-settings: normal) { font-variation-settings: 'wght' $font-bold; }

  @media (max-width: 500px) {
    font-size: .9em;
    padding: .7em;
  }

  // A BLM variant
  &.blm {
    background: $blm-bg;
    color: $blm-text;
  }
}

.app {
  background: $l-bg;
  margin: 1em 4em;
  padding: 1em 3em;
}

header {
  display: flex;
  justify-content: space-between;
  a {
    h1 {
      @include animations.link;
      font-weight: $font-bold;
      @supports (font-variation-settings: normal) { font-variation-settings: 'wght' $font-bold; }
    }
    color: $l-text;
    transition: 250ms text-decoration;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  ul {
    display: flex;
    flex: 0 0 auto;
    text-align: center;
    li {
      margin: .25em;
      padding: .25em;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
    }
  }
}
