@use 'common' as *;
@use 'colour' as *;

html,
body {
  background: $l-bg;
  color: $l-text;
  @supports (font-variation-settings: normal) { font-family: 'Inter var experimental', sans-serif; }
  font-family: 'Inter', sans-serif;
  font-display: swap;
  margin: 0 auto;
}

.banner {
  height: 3em;
  padding: .25em;
  text-align: center;
  @supports (font-variation-settings: normal) { font-variation-settings: 'wght' $font-bold; }
  font-weight: $font-bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    font-size: .9em;
    padding: .7em;
  }
  font-size: .95em;
  &.blm {
    background: $blm-bg;
    color: $blm-text;
  }
}

.app {
  margin: 1em 5em;
}