.footer {
    text-align: center;
    a {
        text-decoration: none;
        border-bottom: 1px solid black;
        transition: border-color 250ms;
        &:hover {
            border-color: #909EFF;
        }
    }
}