@import '../styles/colours';

.item {
  display: flex;
  border-radius: .5rem;
  @media(max-width:500px) {
    padding: 1rem;
    a { flex-direction: column; }
  }
  list-style: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 100ms background-color ease-in-out,
              100ms border-color ease-in-out;
  background-color: $light-alt;
  @media(prefers-color-scheme: 'dark'){ background-color: $dark-alt; }
  &:hover, &:focus, &:focus-within, a:focus, a:focus-within {
      color: $dark-purple;
  }
  a {
    border: none;
    display: flex;
    flex-direction: row;
    .uses_icon, .uses_icon img {
      max-width: 64px;
      max-height: 64px;
    }
    .text {
      max-width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
  h3 {
      font-size: 1.2rem;
      font-weight: 600; // bold
  }
  border: none;
}