.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 16px;
    font-size: 14px;

    h1 {
        margin: 0;
    }
    
    .nav {
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;

        ul {
            flex: 0 0 auto;
            text-align: left;
            display: flex;
            
            li {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    cursor: pointer;
                    padding: 0 0.8em;
                    font-size: 1.1em;
                    text-decoration: none;
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                        color: inherit;
                        transition: all 150ms ease-in-out;
                    }
                }
            }
            :first-child { margin-left: 0; }
            :last-child a { padding-right: 0; }
        }
    }
}

.image {
    width: 100px;
    height: 100px;
}