// Colours and Fonts
$dark-bg: #333;
$black: #000;
$dark-textcolour: #fff;
$text-black: #000;

$light-bg: #fbfbfb;
$light-textcolour: #000;

@mixin roboto-medium {
  @include roboto;
  font-weight: 500;
}
@mixin roboto-bold {
  @include roboto;
  font-weight: 700;
}
@mixin roboto-normal {
  @include roboto;
  font-weight: 400;
}
@mixin roboto {
  font-family: "Roboto";
  line-height: normal; // roughly 1.45 for Roboto
}

// Styles
.widget {
  & {
    margin: auto;
    display: block;
    max-width: 100%;
  }
}

.widget {
  width: auto;
  @media(min-width:501px) { max-width: 800px; }
  max-height: 170px;
  background-color: $light-bg;
  @media(prefers-color-scheme:'dark'){background-color:$dark-bg;}
  border-radius: 10px;
  padding: 20px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: $light-textcolour;
  @media(prefers-color-scheme:'dark'){color:$dark-textcolour;}
}
.albumArt {
  align-self: center;
  margin-right: 15px;
  border-radius: 5px;
}
.mid {
  width: auto;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.albumInfo {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  font-size: 1.7rem;
  @media(max-width:500px) { font-size: 1.5rem; }
  line-height: 1.25 !important;
  width: auto;
  margin: 0;
  @include roboto-medium;
}
.artist {
  width: auto;
  margin: 0;
  font-size: 1rem;
  @media(max-width:500px) {font-size: .7rem;}
  @include roboto-normal;
  & .artistBold {
      @include roboto-bold;
  }
}
.cta {
  background-color: #1ed760; // Spotify Green™
  border-radius: 10px;
  padding: 7px 46px;
  display: flex;
  align-items: flex-start;
}
.ctaText {
  a & { border: none !important; }
  @include roboto-bold;
  color: $text-black;
  text-align: center;
  margin: 0;
}