$dimension: 32px;
$black: #000000;
$white: #ffffff;

.logo {
  min-width: $dimension;
  min-height: $dimension;
  width: $dimension;
  height: $dimension;
  .st0 {
    fill: $black;
    @media (prefers-color-scheme: 'dark') {
      fill: $white;
    }
  }
}