$dimension: 32px;

.logo {
  min-width: $dimension;
  min-height: $dimension;
  width: $dimension;
  height: $dimension;
  .st0 {
    fill: black;
    @media (prefers-color-scheme: 'dark') {
      fill: white;
    }
  }
}