@use 'common.scss';

html,
body {
  background: #968f7e;
  color: #fff;
  @supports (font-variation-settings: normal) { font-family: 'Inter var experimental', sans-serif; }
  font-family: 'Inter', sans-serif;
  font-display: swap;
}

.banner {
  height: 3em;
  padding: .25em;
  text-align: center;
  @supports (font-variation-settings: normal) { font-variation-settings: @include common.font-bold; }
  font-weight: @include common.font-bold;
  text-decoration: none;
  @media (max-width: 500px) {
    font-size: .9em;
    padding: .7em;
  }
  font-size: .95em;
  & .blm {
    color: #fff;
    background: #000;
  }
}