.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}