@import 'colours';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: $black;
    background: $white;
    a,
    nav ul li a { color: $black; }
    @media (prefers-color-scheme: 'dark') {
        color: $white;
        background: $black;
        a,
        nav ul li a { color: $white; }
    }
}

#__next {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto 1rem auto;
    @media (min-width: 1200px) {
        max-width: 72rem;
    }
    font-style: 1.25rem;
}

table {
    @media (prefers-color-scheme: 'dark') {
        background: $black;
        color: $white;
    }
    background: $white;
    color: $black;
    border-collapse: collapse;
    margin: 1rem auto;
    width: 100%;
    max-width: 75%;
    thead td, tbody td {
        border: 1px solid $black;
        padding: .5rem;
    }
    thead tr {
        background: #E4DEFF;
        color: $black;
        border-bottom: 1px solid $black;
    }
    tbody {
        td { padding: .5rem; }
        tr:nth-of-type(even) {
            background: $light-alt;
            color: $black;
        }
    }
}

.container { margin: auto 1rem; }

.four-oh-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 700px) {
        justify-content: center;
        flex-direction: column;
    }
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .5rem;
    background-color: $light-alt;
    text-decoration: none;
    @media(prefers-color-scheme: 'dark'){ background-color: $dark-alt; }
    &:hover { color: $light-purple; }
}


.content,
footer {
    a {
        text-decoration: none;
        border-bottom: 1px solid $black;
        @media (prefers-color-scheme: 'dark') {
            border-color: $white;
            &:hover {
                color: $light-purple!important;
                border-color:  $light-purple!important;
            }
        }
        color: inherit;
        transition: border-color 250ms,
        color 250ms;
        &:hover {
            color: $dark-purple;
            border-color: $dark-purple;
        }
    }
}

.header { font-size: 2.5rem; }

#timeline {
    * {
        h3,
        .minor,
        h4,
        p { margin: .7rem 0 .7rem 0; }
        
        h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        h4,
        .minor {
            font-size: .9rem;
            font-weight: bold;
            opacity: .7; // makes into a lighter colour
        }
    }
    
    section {
        border: 0 solid $light-alt;
        border-left-width: .2rem;
        padding-left: .5rem;
    }
    .eol { border-color: $eol; }
    .active { border-color: $active; }
    .released { border-color: $released; }
    .progress { border-color: $progress; }
}

.minor {
    font-size: .9rem;
    line-height: 1.25rem;
    margin: 0;
    font-weight: normal;
}

.link {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-decoration: none;
}


.posts {
    padding-left: 0;
    .post {
        transition: 100ms background-color ease-in-out;
        padding: .75rem 1rem;
        a { transition: 250ms color ease-in-out; }
        .tag {
            background: $light-alt;
            margin: .5rem;
            padding: .2rem .5rem;
            border-radius: 2rem;
            display: table;
            font-size: .8rem;
            border: .15rem solid $light-alt;
            color: black;
        }
        // Project tag colours
        .eol {
            background-color: $eol-alt;
            border-color: $eol;
        }
        .progress {
            background-color: #98a2b1;
            border-color: #98a2b1;
        }
        .active {
            background-color: $active-alt;
            border-color: $active-alt1;
        }
        .released {
            background-color: $released-alt;
            border-color: $released-alt;
        }
        
        // Blog tag colours
        .concepts {
            background-color: $concepts-alt;
            border-color: $concepts;
        }

        &:hover, &:focus, &:focus-within {
            .link { &, * {outline: 0;}}
            background-color: $light-alt;
            @media(prefers-color-scheme: 'dark'){ background-color: $dark-alt; }
        }
    }
}

.skipToMain {
    // Adapted from https://webaim.org/techniques/css/invisiblecontent/#techniques
    background-color: $light-alt;
    color: $black;
    @media(prefers-color-scheme:'dark') {
        background-color: $dark-alt;
        color: $white;
    }
    font-weight: 700;
    align-self: center;
    padding: 4px;
    position: absolute;
    transition: transform 0.3s;
    transform: translateY(-200%);
    &:focus-within, &:focus {
        transform: translateY(0%);
    }
}
