html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: black;
    background: white;
    a,
    nav ul li a { color: black; }
    @media (prefers-color-scheme: 'dark') {
        color: white;
        background: black;
        a,
        nav ul li a { color: white; }
    }
}

#__next {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto 1rem auto;
    @media (min-width: 1200px) {
        max-width: 72rem;
    }
}


main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: left;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

table {
    background: white;
    color: black;
    border-collapse: collapse;
    margin: 1rem auto;
    width: 100%;
    max-width: 75%;
    thead td, tbody td {
        border: 1px solid black;
        padding: .5rem;
    }
    thead tr {
        background: #E4DEFF !important;
        border-bottom: 1px solid black;
    }
    tbody {
        td { padding: .5rem; }
        tr:nth-of-type(even) {
            background: rgb(209, 209, 209);
        }
    }
}

.container {
    margin: auto 1rem;
}